.highlight-red .s {
    color: red!important;
    font-style: normal!important;
}

.highlight-yellow .s {
    color: goldenrod!important;
    font-style: normal!important;
}

.highlight-green .s {
    color: green!important;
    font-style: normal!important;
}

.highlight-blue .s {
    color: blue!important;
    font-style: normal!important;
}

.highlight-cyan .s {
    color: cyan!important;
    font-style: normal!important;
}

.highlight-magenta .s {
    color: magenta!important;
    font-style: normal!important;
}

.highlight-black .s {
    color: black!important;
    font-style: normal!important;
}


.highlight-white .s {
    color: white!important;
    font-style: normal!important;
}

.highlight-on-red .s {
    color: white;
    background-color: red!important;
    font-style: normal!important;
    padding-left: 2px;
    padding-right: 2px;
}

.highlight-on-yellow .s {
    color: white;
    background-color: goldenrod!important;
    font-style: normal!important;
    padding-left: 2px;
    padding-right: 2px;
}

.highlight-on-green .s {
    color: white;
    background-color: green!important;
    font-style: normal!important;
    padding-left: 2px;
    padding-right: 2px;
}

.highlight-on-blue .s {
    color: white;
    background-color: blue!important;
    font-style: normal!important;
    padding-left: 2px;
    padding-right: 2px;
}

.highlight-on-cyan .s {
    color: white;
    background-color: cyan!important;
    font-style: normal!important;
    padding-left: 2px;
    padding-right: 2px;
}

.highlight-on-magenta .s {
    color: white;
    background-color: magenta!important;
    font-style: normal!important;
    padding-left: 2px;
    padding-right: 2px;
}

.highlight-on-black .s {
    color: white;
    background-color: black!important;
    font-style: normal!important;
    padding-left: 2px;
    padding-right: 2px;
}


.highlight-on-white .s {
    color: black;
    background-color: white!important;
    font-style: normal!important;
    padding-left: 2px;
    padding-right: 2px;
}
