.highlight-red * {
    color: red!important;
    font-style: normal!important;
}

.highlight-yellow * {
    color: goldenrod!important;
    font-style: normal!important;
}

.highlight-green * {
    color: green!important;
    font-style: normal!important;
}

.highlight-blue * {
    color: blue!important;
    font-style: normal!important;
}

.highlight-cyan * {
    color: cyan!important;
    font-style: normal!important;
}

.highlight-magenta * {
    color: magenta!important;
    font-style: normal!important;
}

.highlight-black * {
    color: black!important;
    font-style: normal!important;
}


.highlight-white * {
    color: white!important;
    font-style: normal!important;
}

.highlight-on-red * {
    color: white;
    background-color: red!important;
    font-style: normal!important;
}

.highlight-on-yellow * {
    color: white;
    background-color: goldenrod!important;
    font-style: normal!important;
}

.highlight-on-green * {
    color: white;
    background-color: green!important;
    font-style: normal!important;
}

.highlight-on-blue * {
    color: white;
    background-color: blue!important;
    font-style: normal!important;
}

.highlight-on-cyan * {
    color: white;
    background-color: cyan!important;
    font-style: normal!important;
}

.highlight-on-magenta * {
    color: white;
    background-color: magenta!important;
    font-style: normal!important;
}

.highlight-on-black * {
    color: white;
    background-color: black!important;
    font-style: normal!important;
}


.highlight-on-white * {
    color: black;
    background-color: white!important;
    font-style: normal!important;
}
